<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>create</title>
	</head>
	<body>
		<p style="color: green"><%= notice %></p>
		
		<h3>Account is Created for UserName :<%=h @user.user_name %></h3>
		
		<%= link_to("Back to Login", users_path) %>
	</body>
</html>
